extends ./../layout-presentation
block content

  .login
    #logo
      img(src='./images/subile-front.png', alt='icon', width='350px', height='165px', style='')
    a(href='/auth/facebook',class='zocial facebook') Login with Facebook
    hr
    form(method='post')
      input(type='text', name='user[username]', placeholder='Username', required='required')
      input(type='password', name='user[password]', placeholder='Password', required='required')
      button.btn.btn-primary.btn-block.btn-large(type='submit') Let me in.
    .sing-up
      a(href="/register") Sign up now with your email

  script(type="text/javascript")
    var toggleColor = function(){
      $('#logo').find('img').toggleClass('color2');

    }
    setInterval(toggleColor, 3000)