extends layout
block content
  .container(ng-controller='AppCtrl')
    .navbar
      .navbar-inner
        a.brand(href='#/') Subile   
    .span7
      #chat(ng-controller='ChatCtrl')
        ul#messages
          li(ng-repeat='message in messages',title="{{message.date | date:'MM/dd/yyyy @ h:mma' }}")
            b(ng-show="message.from"){{message.from}}: 
            | {{message.text}}        
        form#form(ng-submit="newMessage()")
          input#input(type='text', ng-model="message.text")
          button Send

      #playing

      div(ng-controller='SearchCtrl')
        form#dj(ng-submit="search()")
          h3 Search songs
          input#s(type='text', ng-model="query")
          button Search
          ul#results
            li(ng-repeat='song in songs')
              | {{song.ArtistName}}- <b> {{song.SongName}} </b>
              a(ng-click='play(song)') Play

  script#widget-template(type='text/x-handlebars-template')
    object(type='application/x-shockwave-flash', data='http://grooveshark.com/songWidget.swf', width='250', height='40')
      param(name='wmode', value='window')
      param(name='allowScriptAccess', value='always')
      param(name='flashvars', value='hostname=grooveshark.com&songID={{SongID}}&style=metal&p=1')
